<div class="row blog_thumbs">

    {% for post in posts %}
    {% set headerDef = 'assets/images/image_1.jpg'|theme %}
    {% set header = post.gambar_header.path | default(headerDef) %}
    <div class="col-md-12 mb-md-4 mb-2 pb-2">
        <div class="blog_post">
            <div class="blog_img">
                <a href="{{ post.url }}">
                    <img src="{{ header | resize(350, 198, { mode:'crop' }) }}">
                </a>
            </div>
        </div>
        <div class="blog_content">
            <div class="blog_text">
                <h6 class="blog_title"><a href="{{ post.url }}">{{ post.judul }}</a></h6>
                <div class="list_none blog_meta">
                    <span><i class="ti-calendar"></i> {{ post.tgl_tampil | date('d-m-Y') }}</span> /
                    <span><i class="fa fa-calendar-check"></i> {{ post.updated_at | date('d-m-Y') }}</span>
                </div>
                <p>{{ post.ringkasan }}</p>
                <a href="{{ post.url }}" class="text-capitalize">Read More</a>
            </div>
        </div>
    </div>
    {% else %}
    <h6>Belum ada tulisan pada pilihan terpilih.</h6>
    {% endfor %}
</div>
<div class="row">
    <div class="col-lg mt-4">
        {% partial '_pagination' records=posts %}
    </div>
</div>