<footer class="p-0 footer-light position-relative">
    <div class="container position-relative">
        <div class="row justify-content-center pt-5 sm-pt-40px">
            <!-- start footer column -->
            <div
                class="col-6 col-xl-3 col-lg-12 col-sm-6 last-paragraph-no-margin text-xl-start text-lg-center order-sm-1 lg-mb-50px sm-mb-30px">
                <a href="demo-it-business.html" class="footer-logo mb-15px d-inline-block">
                    <img src="{{ 'assets/images/logo-dinsos-dark.png' | theme }}"
                        data-at2x="{{ 'assets/images/logo-dinsos-dark@2x.png' | theme }}" alt="">
                </a>
                <p class="lh-28 w-90 xl-w-100 mx-lg-auto mx-xl-0">Melaksanakan perumusan pelaksanaan kebijakan,
                    pemberian bimbingan teknis dan supervisi, serta evaluasi dan pelaporan pelaksanaan kebijakan di
                    bidang Perlindungan dan Jaminan Sosial, Rehabilitasi Sosial, Pemberdayaan Sosial dan Penanganan
                    Fakir Miskin.</p>
                <div class="elements-social social-icon-style-02 mt-15px">
                    <ul class="medium-icon dark">
                        <li class="my-0"><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="my-0"><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                    class="fa-brands fa-dribbble"></i></a></li>
                        <li class="my-0"><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li class="my-0"><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-6 col-xl-2 col-lg-3 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                <span class="fw-600 d-block text-dark-gray mb-5px">Tautan Link</span>
                <ul>
                    <li><a href="https://kalteng.go.id/">Kalteng.go.id</a></li>
                    <li><a href="https://lpse.kalteng.go.id/">LPSE KalTeng</a>
                        {# <div
                            class="bg-dark-gray fw-600 text-white lh-22 text-uppercase border-radius-30px ps-10px pe-10px fs-10 ms-10px d-inline-block align-middle">
                            Hot</div> #}
                    </li>
                    <li><a href="https://ebudgeting.provkalteng.id/cgi-sys/defaultwebpage.cgi">e-budgeting KalTeng</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-6 col-xl-2 col-lg-3 col-md-5 col-sm-4 xs-mb-30px order-sm-4 order-lg-3">
                <span class="fw-600 d-block text-white mb-5px"  >Services</span>
                <ul>
                    <li><a href="https://www.kemsos.go.id/">Kementarian Sosial</a></li>
                    <li><a href="https://jdih.kalteng.go.id/">Peraturan KalTeng</a></li>
                    <li><a href="https://ebudgeting.provkalteng.id/cgi-sys/defaultwebpage.cgi">e-planing Kalteng</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-xl-5 col-lg-3 col-sm-6 md-mb-50px sm-mb-30px xs-mb-0 order-sm-2 order-lg-5">
                <span class="fw-600 d-block text-dark-gray mb-5px">Hubungi Kami</span>
                <p class="lh-28 w-95 mb-10px xs-mb-10px">Dinas Sosial Provinsi Kalimantan Tengah</p>
<table width="100%" cellspacing="0" cellpadding="5">
    <tr>
        <td align="center" width="30">
            <i class="fas fa-map-marker-alt"></i>
        </td>
        <td>
            <address style="margin: 0; padding: 0;">
                Jl. Mayjen D.I. Panjaitan No.12, Palangka, Jekan Raya, Kota Palangka Raya, Kalimantan Tengah 73111
            </address>
        </td>
    </tr>
    <tr>
        <td align="center">
            <i class="fas fa-envelope"></i>
        </td>
        <td>
            <a href="mailto:info@dinsos.kalteng.go.id" style="text-decoration: none; color: inherit; margin: 0; padding: 0;">
                info@dinsos.kalteng.go.id
            </a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <i class="fas fa-phone"></i>
        </td>
        <td>
            <p style="margin: 0; padding: 0;">(0536) 3221582</p>
        </td>
    </tr>
</table>
                        
            </div>
            <!-- end footer column -->
        </div>
        <div class="row justify-content-center align-items-center pt-7">
            <!-- start divider -->
            <div class="col-12">
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray"></div>
            </div>
            <!-- end divider -->
            <!-- start copyright -->
            <div
                class="col-lg-5 pt-20px pb-20px md-pt-0 order-2 order-lg-1 text-center text-lg-start last-paragraph-no-margin fs-14">
                <p>&copy; 2024 All Rights Reserved by Dinas Sosial Provinsi Kalimantan Tengah.</p>
            </div>
            <!-- end copyright -->
            <!-- start footer menu -->
            <div class="col-lg-7 pt-20px pb-20px md-pt-25px md-pb-5px order-1 order-lg-2 text-center text-lg-end fs-14">
                <ul class="footer-navbar sm-lh-normal">
                    <li><a href="#" class="nav-link">Privacy policy</a></li>
                    <li><a href="#" class="nav-link">Terms and conditions</a></li>
                    <li><a href="#" class="nav-link">Copyright</a></li>
                </ul>
            </div>
            <!-- end footer menu -->
        </div>
    </div>
</footer>