{# Digunakan untuk merender daftar berita untuk di-load di widget. #}
<ul class="list-unstyled border-top pt-2">
    {% for post in posts %}
    <li class="d-flex align-items-center border-bottom py-2">
        <!-- Gambar Berita -->
        <div class="me-3">
            <a href="{{ post.url }}">
                <img 
                    src="{{ post.gambar_header | resize(60,60,{mode:'exact'}) }}" 
                    alt="{{ post.judul }}" 
                    class="img-fluid" 
                    style="width: auto; height: auto; max-width: 60px; max-height: 60px;"
                >
            </a>
        </div>
        
        <!-- Konten Berita -->
        <div>
            <p class="mb-1">
                <a href="{{ post.url }}" class="text-dark text-decoration-none">
                    {{ post.judul }}
                </a>
            </p>
            <p class="small text-muted m-0">
                {{ post.tgl_tampil | date("d-m-Y") }}
            </p>
        </div>
    </li>
    {% else %}
    <li class="text-center text-muted py-3">
        Belum ada {{ apanya|default("data") }}
    </li>
    {% endfor %}
</ul>