<section class="cover-background p-5"
    style="background-image: url('{{ 'assets/images/crafto-landing-page-hero-section-bg.jpg' | theme }}');">
    <div class="container">
        <div class="row align-items-center">
            <!-- Kolom Konten -->
            <div class="col-xl-8 col-lg-8 col-md-10 position-relative z-index-1">
                <span
                    class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-gradient-dark-gray-transparent d-flex w-70 sm-w-100">
                    <i class="bi bi-megaphone text-white icon-small me-10px"></i>Tentang Kami
                </span>
                <h1 class="text-white text-uppercase fw-600 ls-minus-2px mb-25px">Dinas Sosial</h1>
                <h3 class="text-white text-uppercase fw-600 ls-minus-2px mb-25px">Provinsi Kalimantan Tengah</h3>
                <p class="fw-300 fs-18 w-85 sm-w-95 text-white opacity-6" style="text-align: justify;">
                    Mengatasi permasalahan sosial di Kalimantan Tengah tidak hanya tanggung jawab pemerintah semata,
                    namun memerlukan peran aktif masyarakat, dunia usaha dan akademisi. Terwujudnya sinergitas antara
                    pemerintah dan masyarakat akan mampu menjadikan Provinsi Kalimantan Tengah Maju, Mandiri & Adil
                    untuk Kesejahteraan Segenap Masyarakat Menuju Kalimantan Tengah BERKAH (Bermartabat, Elok,
                    Religius, Kuat, Amanah dan Harmonis)
                </p>
                <div class="d-flex flex-wrap gap-3 mb-4 mb-lg-0">
                    <a href="demo-it-business-contact.html"
                        class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                        <span>
                            <span class="btn-double-text" data-text="Survey kepuasan">Survey kepuasan</span>
                            <span><i class="fa-solid fa-clipboard-check"></i></span>
                        </span>
                    </a>
                    <a href="demo-it-business-contact.html"
                        class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                        <span>
                            <span class="btn-double-text" data-text="Laporan bencana">Laporan bencana</span>
                            <span><i class="fa-solid fa-exclamation-triangle"></i></span>
                        </span>
                    </a>
                    <a href="demo-it-business-contact.html"
                        class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                        <span>
                            <span class="btn-double-text" data-text="Minta data">Minta data</span>
                            <span><i class="fa-solid fa-database"></i></span>
                        </span>
                    </a>
                </div>
            </div>

            <!-- Kolom Gambar -->
            <div class="col-xl-4 col-lg-4 col-md-12 mt-4 mt-lg-0">
                <img src="{{ 'assets/images/tentang_kami.jpeg' | theme }}" class="img-fluid w-100 h-auto" alt="tentang-kami.jpg">
            </div>
        </div>
    </div>
</section>