<section class="pt-3 sm-pt-50px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 position-relative md-mb-20">
                    <div class="w-70 xs-w-80" data-animation-delay="50" data-shadow-animation="true">
                        <img src="https://via.placeholder.com/640x784" alt=""
                            class="border-radius-8px w-100">
                    </div>
                    <div class="w-60 overflow-hidden position-absolute right-minus-15px xs-right-15px xs-w-60 bottom-minus-50px"
                        data-shadow-animation="true" data-animation-delay="250"
                        data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                        <img src="https://via.placeholder.com/640x784" alt=""
                            class="border-radius-8px w-100 box-shadow-quadruple-large" />
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-lg-1"
                    data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span
                        class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex"><i
                            class="bi bi-award fs-16 me-5px"></i>Visi dan Misi Dinas Sosial</span>
                    <h3 class="text-dark-gray fs-50 fw-700 ls-minus-2px">Visi Dinas Sosial</h3>
                    <p class="mb-40px sm-mb-25px">“Menuju Kalimantan Tengah Maju, Mandiri dan Adil untuk Kesejahteraan
                        Segenap Masyarakat Menuju Kalimantan Tengah Berkah (Bermartabat, Elok, Religius, Kuat, Amanah
                        dan Harmonis)”.</p>
                    <h3 class="text-dark-gray fs-50 fw-700 ls-minus-2px">Misi Dinas Sosial</h3>
                    <p class="mb-40px sm-mb-25px">
                        a.
                        Berkontribusi dalam penanganan fakir miskin;<br>
                        b.
                        Meningkatkan taraf kesejahteraan sosial Penyandang Masalah Kesejahteraan Sosial (PMKS);<br>
                        c..
                        Meningkatkan partisipasi Potensi dan Sumber Kesejahteraan Sosial (PSKS) dalam penyelenggaraan
                        kesejahteraan sosial;<br>
                        d.
                        Meningkatkan pemanfaatan modal sosial dengan membangun kesadaran, kepercayaan serta penguatan
                        nilai-nilai kesetiakawanan sosial, kegotong-royongan, kepedulian sosial dan tanggung jawab
                        sosial..</p>

                </div>
            </div>
        </div>
    </section>