<div class="col-12">
    <div class="outside-box-right-20 sm-outside-box-right-0">
        <div class="swiper magic-cursor slider-one-slide"
            data-slider-options='{"slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": {"nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1"}, "autoplay": {"delay": 4000, "disableOnInteraction": false}, "keyboard": {"enabled": true, "onlyInViewport": true}, "breakpoints": {"1200": {"slidesPerView": 4}, "992": {"slidesPerView": 3}, "768": {"slidesPerView": 2}, "320": {"slidesPerView": 1}}, "effect": "slide"}'>
            <div class="swiper-wrapper">
                {% for post in posts %}
                {% set headerDef = 'assets/images/tentang_kami.jpeg' | theme %}
                {% set header = post.gambar_header.path | default(headerDef) %}
                <!-- Slider Item -->
                <div class="swiper-slide">
                    <div class="services-box-style-03 last-paragraph-no-margin border-radius-6px overflow-hidden">
                        <div class="position-relative">
                            <a href="{{ post.url }}">
                                <img class="object-fit-cover" src="{{ header | resize(500, 300, { mode:'crop' }) }}"
                                    alt="{{ post.judul }}">
                            </a>
                            {% if post.kategori.count %}
                            {% for category in post.kategori %}
                            <a href="{{ 'kabar-kategori'|page({slugkategori:category.slug}) }}"
                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">{{
                                category.nama }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="bg-white">
                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                <a href="{{ post.url }}"
                                    class="text-uppercase d-inline-block fs-18 fw-700 text-dark-gray mb-5px">{{
                                    post.judul }}</a>
                                <p>
                                    {% if post.ringkasan %}
                                    {{ post.ringkasan | slice(0, 80) }}{% if post.ringkasan|length > 80 %}...{% endif %}
                                    {% else %}
                                    Tidak ada ringkasan
                                    {% endif %}
                                </p>
                                <div
                                    class="author mt-3 d-flex justify-content-center align-items-center position-relative overflow-hidden fs-6 text-uppercase">
                                    <div class="me-auto">
                                        <span class="blog-date d-inline-block fw-600 text-dark-gray"><i
                                                class="bi bi-calendar"></i> {{ post.tgl_tampil | date('d F Y') }}</span>
                                        <div class="d-inline-block author-name fw-600 text-dark-gray">
                                            <span class="text-dark-gray"><i class="bi bi-calendar2-check"></i> {{
                                                post.updated_at | date('d F Y') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                <a href="{{ post.url }}"
                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                    <span>
                                        <span class="btn-text">Lihat Selengkapnya</span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>