<div class="blog_content_wrap carousel_slide3 owl-carousel owl-theme nav_top" data-loop="true" data-autoplay="true"
    data-nav="true" data-margin="15" data-dots="false">
    {% for post in posts %}
    {% set headerDef = 'assets/images/image_1.jpg'|theme %}
    {% set header = post.gambar_header.path | default(headerDef) %}
    <div class="item">
        <div class="blog_postcontent_wrap">
            <div class="sp_post">
                <a href="{{ post.url }}">
                    <div class="post_thumb">
                        <img src="{{ header | resize(360, 250, { mode:'crop' }) }}" alt="{{ post.judul }}" />
                    </div>
                </a>
                <div class="blog_postcontent postcontent_light">
                    {% if post.kategori.count %}
                    <div class="blog_tags">
                        {% for category in post.kategori %}
                            <a class="blog_tags_cat blog_bg_danger"
                                href="{{ 'kabar-kategori'|page({slugkategori:category.slug}) }}">
                                {{ category.nama }}
                            </a>
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="post_info">
                        <div class="blog_heading">
                            <h6><a href="{{ post.url }}">{{ post.judul }}</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>