==
<!doctype html>
<html class="no-js" lang="en">

<head>
    {% partial "site/_header" %}
</head>

<body data-mobile-nav-style="full-screen-menu" data-mobile-nav-bg-color="#252840">
{% partial "site/_body_header" %}
    <!-- start hero section -->
    <section class="cover-background bg-dark-gray"
        style="background-image: url('{{ 'assets/images/crafto-landing-page-hero-section-bg.jpg' | theme }}');">
        <div class="container background-no-repeat background-position-top">
            <div class="container bg-base-color" style="border-top-left-radius: 20px; border-top-right-radius: 20px; overflow: hidden;">
                <div class="row align-items-center p-1 rounded">
                    <!-- Informasi Kontak -->
                    <div class="col-12 col-md-8 text-white mb-md-0">
                        <div class="d-flex flex-column flex-sm-row">
                            <span class="me-3">
                                <i class="bi bi-geo-alt"></i> Jl. DI Pandjaitan No. 12, Palangka Raya
                            </span>
                            <span>
                                <i class="bi bi-envelope"></i> Email:
                                <a href="mailto:info@dinsos.kalteng.go.id" class="text-white"
                                    title="Email Dinsos">info@dinsos.kalteng.go.id</a>
                            </span>
                        </div>
                    </div>
                    <!-- Media Sosial -->
                    <div class="col-12 col-md-4">
                        <div class="d-flex justify-content-md-end justify-content-start">
                            <a href="/" class="text-white me-5" title="Facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="/al" class="text-white me-5" title="Twitter"><i
                                    class="bi bi-twitter"></i></a>
                            <a href="#" class="text-white me-5" title="Instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="#" class="text-white" title="Youtube"><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center align-items-center">
                <div class="col-xl-12 position-relative">
                    <div class="swiper magic-cursor testimonials-style-06"
                        data-slider-options='{ "loop": true, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav", "effect": "fade" } }'>
                        <div class="swiper-wrapper">
                            <!-- start testimonial item -->
                            <div class="swiper-slide vh-100">
                                <img alt="" src="{{ 'assets/images/tentang_kami.jpeg' | theme }}"
                                    class="img-fluid w-100 h-100 object-fit-cover">
                            </div>
                            <!-- end testimonial item -->
                            <!-- start testimonial item -->
                            <div class="swiper-slide vh-100">
                                <img alt="" src="{{ 'assets/images/testimonials-quote.png' | theme }}"
                                    class="img-fluid w-100 h-100 object-fit-cover">
                            </div>
                            <!-- end testimonial item -->
                            <!-- start testimonial item -->
                            <div class="swiper-slide vh-100">
                                <img alt="" src="{{ 'assets/images/maintenance-bg.jpg' | theme }}"
                                    class="img-fluid w-100 h-100 object-fit-cover">
                            </div>
                            <!-- end testimonial item -->
                        </div>
                        <!-- start slider navigation -->
                        <div class="swiper-button-previous-nav swiper-button-prev md-left-0px">
                            <i class="feather icon-feather-arrow-left icon-extra-medium text-white"></i>
                        </div>
                        <div class="swiper-button-next-nav swiper-button-next md-right-0px">
                            <i class="feather icon-feather-arrow-right icon-extra-medium text-white"></i>
                        </div>
                        <!-- end slider pagination -->
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="opacity-very-light bg-black"></div> -->
        <!-- <div class="shape-image-animation bottom-0 p-0 w-100 d-none d-md-block">
            <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200"
                fill="#ffffff">
                <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
                    <animate attributeName="d" dur="5s"
                        values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
                        repeatCount="indefinite" />
                </path>
            </svg>
        </div> -->
    </section>
    <!-- end hero section -->
    <!-- start section -->
    <section class="pt-3 sm-pt-50px">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-7"
                data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <!-- start features box item -->
                <div class="col icon-with-text-style-01 md-mb-30px">
                    <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                        <div class="feature-box-icon me-20px">
                            <img src="https://via.placeholder.com/80x80" alt="" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fs-18 text-dark-gray fw-700 mb-5px">Total Kunjungan</span>
                            <!-- <p class="w-80 xl-w-90 lg-w-100">We believe in challenges and so we have made challenges. -->
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col icon-with-text-style-01 md-mb-30px">
                    <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                        <div class="feature-box-icon me-20px">
                            <img src="https://via.placeholder.com/80x80" alt="" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fs-18 text-dark-gray fw-700 mb-5px">Total Kunjungan</span>
                            <!-- <p class="w-80 xl-w-90 lg-w-100">We also help our clients with social media strategy.</p> -->
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col icon-with-text-style-01 md-mb-30px">
                    <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                        <div class="feature-box-icon me-20px">
                            <img src="https://via.placeholder.com/80x80" alt="" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fs-18 text-dark-gray fw-700 mb-5px">Total Kunjungan</span>
                            <!-- <p class="w-80 xl-w-90 lg-w-100">We deliver email marketing campaigns to your audience.</p> -->
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
            </div>
            <div class="row mb-10 align-items-center">
                <div class="col-lg-5 position-relative md-mb-20">
                    <div class="w-70 xs-w-80" data-animation-delay="50" data-shadow-animation="true">
                        <img src="https://via.placeholder.com/640x784" alt=""
                            class="border-radius-8px w-100">
                    </div>
                    <div class="w-60 overflow-hidden position-absolute right-minus-15px xs-right-15px xs-w-60 bottom-minus-50px"
                        data-shadow-animation="true" data-animation-delay="250"
                        data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                        <img src="https://via.placeholder.com/640x784" alt=""
                            class="border-radius-8px w-100 box-shadow-quadruple-large" />
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-lg-1"
                    data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span
                        class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex"><i
                            class="bi bi-award fs-16 me-5px"></i>Visi dan Misi Dinas Sosial</span>
                    <h3 class="text-dark-gray fs-50 fw-700 ls-minus-2px">Visi Dinas Sosial</h3>
                    <p class="mb-40px sm-mb-25px">“Menuju Kalimantan Tengah Maju, Mandiri dan Adil untuk Kesejahteraan
                        Segenap Masyarakat Menuju Kalimantan Tengah Berkah (Bermartabat, Elok, Religius, Kuat, Amanah
                        dan Harmonis)”.</p>
                    <h3 class="text-dark-gray fs-50 fw-700 ls-minus-2px">Misi Dinas Sosial</h3>
                    <p class="mb-40px sm-mb-25px">
                        a.
                        Berkontribusi dalam penanganan fakir miskin;<br>
                        b.
                        Meningkatkan taraf kesejahteraan sosial Penyandang Masalah Kesejahteraan Sosial (PMKS);<br>
                        c..
                        Meningkatkan partisipasi Potensi dan Sumber Kesejahteraan Sosial (PSKS) dalam penyelenggaraan
                        kesejahteraan sosial;<br>
                        d.
                        Meningkatkan pemanfaatan modal sosial dengan membangun kesadaran, kepercayaan serta penguatan
                        nilai-nilai kesetiakawanan sosial, kegotong-royongan, kepedulian sosial dan tanggung jawab
                        sosial..</p>

                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start hero section -->
    <section class="cover-background full-screen ipad-top-space-margin py-0 md-h-750px sm-h-650px"
        style="background-image: url('{{ 'assets/images/crafto-landing-page-hero-section-bg.jpg' | theme }}');">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-xl-8 col-lg-8 col-md-10 position-relative z-index-1"
                    data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span
                        class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-gradient-dark-gray-transparent d-flex w-70 sm-w-100"><i
                            class="bi bi-megaphone text-white icon-small me-10px"></i>Tentang Kami</span>
                    <h1 class="text-white text-uppercase fw-600 ls-minus-2px mb-25px">Dinas sosial</h1>
                    <h3 class="text-white text-uppercase fw-600 ls-minus-2px mb-25px">Provinsi kalimantan tengah</h3>
                    <div>
                        <p class="fw-300 fs-18 w-85 sm-w-95 text-white opacity-6" style="text-align: justify;">
                            Mengatasi permasalahan sosial di Kalimantan Tengah tidak hanya tanggung jawab pemerintah
                            semata, namun memerlukan peran aktif masyarakat, dunia usaha dan akademisi. Terwujudnya
                            sinergitas antara pemerintah dan masyarakat akan mampu menjadikan Provinsi Kalimantan Tengah
                            Maju, Mandiri & Adil untuk Kesejahteraan Segenap Masyarakat Menuju Kalimantan Tengah BERKAH
                            (Bermartabat, Elok, Religius, Kuat, Amanah dan Harmonis)</p>
                    </div>
                    <div class="d-flex gap-3">
                        <a href="demo-it-business-contact.html"
                            class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                            <span>
                                <span class="btn-double-text" data-text="Survey kepuasan">Survey kepuasan</span>
                                <span><i class="fa-solid fa-clipboard-check"></i></span>
                            </span>
                        </a>
                        <a href="demo-it-business-contact.html"
                            class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                            <span>
                                <span class="btn-double-text" data-text="Laporan bencana">Laporan bencana</span>
                                <span><i class="fa-solid fa-exclamation-triangle"></i></span>
                            </span>
                        </a>
                        <a href="demo-it-business-contact.html"
                            class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px">
                            <span>
                                <span class="btn-double-text" data-text="Minta data">Minta data</span>
                                <span><i class="fa-solid fa-database"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-2 position-relative z-index-1"
                    data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <img src="{{ 'assets/images/tentang_kami.jpeg' | theme }}" class="img-fluid img-thumbnail"
                        alt="tentang-kami.jpg" srcset="">
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end hero section -->
    <!-- start section -->
    <section class="overflow-hidden bg-very-light-gray position-relative">
        <div class="container mb-10">
            <div class="row align-items-center mb-5 sm-mb-30px text-center text-lg-start"
                data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-lg-10 md-mb-30px">
                    <h3 class="text-dark-gray fw-700 ls-minus-2px mb-0">Artikel dan Berita terbaru.</h3>
                </div>
                <!-- <div class="col-lg-4 offset-xl-1 last-paragraph-no-margin md-mb-30px">
                        <p>We strive to develop real-world web solutions that are ideal for small to large projects with bespoke your custom project requirements.</p>
                    </div>  -->
                <div class="col-xl-2 col-lg-3 d-flex justify-content-center">
                    <!-- start slider navigation -->
                    <div
                        class="slider-one-slide-prev-1 icon-small text-dark-gray swiper-button-prev slider-navigation-style-04 bg-white box-shadow-large">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div
                        class="slider-one-slide-next-1 icon-small text-dark-gray swiper-button-next slider-navigation-style-04 bg-white box-shadow-large">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <!-- end slider navigation -->
                </div>
            </div>
            <div class="row align-items-center"
                data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-12">
                    <div class="outside-box-right-20 sm-outside-box-right-0">
                        <div class="swiper magic-cursor slider-one-slide"
                            data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start services box style -->
                                    <div
                                        class="services-box-style-03 last-paragraph-no-margin border-radius-6px overflow-hidden">
                                        <div class="position-relative">
                                            <a href="demo-it-business-services-details.html"><img
                                                    src="https://via.placeholder.com/600x440" alt=""></a>
                                            <a href="#"
                                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">Artikel</a>
                                        </div>
                                        <div class="bg-white">
                                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="d-inline-block fs-18 fw-700 text-dark-gray mb-5px">Data and
                                                    analytics</a>
                                                <p>Lorem ipsum simply dummy text of amet consectetur.</p>
                                            </div>
                                            <div
                                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                                    <span>
                                                        <span class="btn-text">Explore services</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end services box style -->
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start services box style -->
                                    <div
                                        class="services-box-style-03 last-paragraph-no-margin border-radius-6px overflow-hidden">
                                        <div class="position-relative">
                                            <a href="demo-it-business-services-details.html"><img
                                                    src="https://via.placeholder.com/600x440" alt=""></a>
                                            <a href="#"
                                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">Berita
                                                Dinsos</a>
                                        </div>
                                        <div class="bg-white">
                                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="d-inline-block fs-18 fw-700 text-dark-gray mb-5px">Finance
                                                    consulting</a>
                                                <p>Lorem ipsum simply dummy text of amet consectetur.</p>
                                            </div>
                                            <div
                                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                                    <span>
                                                        <span class="btn-text">Explore services</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end services box style -->
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start services box style -->
                                    <div
                                        class="services-box-style-03 last-paragraph-no-margin border-radius-6px overflow-hidden">
                                        <div class="position-relative">
                                            <a href="demo-it-business-services-details.html"><img
                                                    src="https://via.placeholder.com/600x440" alt=""></a>
                                            <a href="#"
                                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">Digital</a>
                                        </div>
                                        <div class="bg-white">
                                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="d-inline-block fs-18 fw-700 text-dark-gray mb-5px">Digital
                                                    commerce</a>
                                                <p>Lorem ipsum simply dummy text of amet consectetur.</p>
                                            </div>
                                            <div
                                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                                    <span>
                                                        <span class="btn-text">Explore services</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end services box style -->
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start services box style -->
                                    <div
                                        class="services-box-style-03 last-paragraph-no-margin border-radius-4px overflow-hidden">
                                        <div class="position-relative">
                                            <a href="demo-it-business-services-details.html"><img
                                                    src="https://via.placeholder.com/600x440" alt=""></a>
                                            <a href="#"
                                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">Digital</a>
                                        </div>
                                        <div class="bg-white">
                                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="d-inline-block fs-18 fw-700 text-dark-gray mb-5px">Cloud
                                                    computing</a>
                                                <p>Lorem ipsum simply dummy text of amet consectetur.</p>
                                            </div>
                                            <div
                                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                                    <span>
                                                        <span class="btn-text">Explore services</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end services box style -->
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <!-- start services box style -->
                                    <div
                                        class="services-box-style-03 last-paragraph-no-margin border-radius-6px overflow-hidden">
                                        <div class="position-relative">
                                            <a href="demo-it-business-services-details.html"><img
                                                    src="https://via.placeholder.com/600x440" alt=""></a>
                                            <a href="#"
                                                class="btn btn-very-small btn-rounded btn-dark-gray text-white btn-box-shadow ps-15px pe-15px pt-5px pb-5px lh-16 position-absolute right-30px top-30px text-uppercase">Finance</a>
                                        </div>
                                        <div class="bg-white">
                                            <div class="ps-65px pe-65px pt-30px pb-30px text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="d-inline-block fs-18 fw-700 text-dark-gray mb-5px">Finance
                                                    consulting</a>
                                                <p>Lorem ipsum simply dummy text of amet consectetur.</p>
                                            </div>
                                            <div
                                                class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                                <a href="demo-it-business-services-details.html"
                                                    class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                                    <span>
                                                        <span class="btn-text">Explore services</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end services box style -->
                                </div>
                                <!-- end slider item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-image-animation p-0 w-100 bottom-minus-40px xl-bottom-0px d-none d-md-block">
            <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200"
                fill="#ffffff">
                <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
                    <animate attributeName="d" dur="5s"
                        values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
                        repeatCount="indefinite" />
                </path>
            </svg>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="position-relative">
        <div class="container">
            <div class="row align-items-center mb-4"
                data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-xl-5 lg-mb-30px text-center text-xl-start">
                    <h3 class="text-dark-gray fw-700 mb-0 ls-minus-2px">Daftar Dokumen</h3>
                </div>
                <div class="col-xl-7 tab-style-04 text-center text-xl-end">
                    <!-- filter navigation -->
                    <ul
                        class="portfolio-filter nav nav-tabs justify-content-center justify-content-xl-end border-0 fw-500">
                        <li class="nav active"><a data-filter="*" href="#">Semua</a></li>
                        <li class="nav"><a data-filter=".selected" href="#">Bantuan Sosial</a></li>
                        <li class="nav"><a data-filter=".digital" href="#">DPA</a></li>
                        <li class="nav"><a data-filter=".branding" href="#">DUK</a></li>
                        <li class="nav"><a data-filter=".web" href="#">Indikator Kinerja Kunci</a></li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
            <div class="row"
                data-anime='{  "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-12 filter-content p-md-0">
                    <ul
                        class="portfolio-modern portfolio-wrapper grid-loading grid grid-3col xxl-grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        <!-- start portfolio item -->
                        <li class="grid-item selected digital transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-4px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">
                                                    Branding</div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Tailoring
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item web branding transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-6px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">Design
                                                </div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Spanio
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item web branding transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-6px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">
                                                    Branding</div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Herbal
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item selected digital transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-6px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">
                                                    Brochure</div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Cropo
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item selected branding transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-6px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">Design
                                                </div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Violator
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item digital web transition-inner-all">
                            <a href="demo-it-business-single-project-gallery.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-6px">
                                        <img src="https://via.placeholder.com/700x820" alt="" />
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div
                                            class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 fw-500 text-medium-gray text-uppercase lh-24">Digital
                                                </div>
                                                <div class="fw-700 text-dark-gray text-uppercase lh-initial">Pixflow
                                                </div>
                                            </div>
                                            <div class="ms-auto"><i
                                                    class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section -->
    <section class="cover-background one-third-screen sm-h-500px pb-0 position-relative"
    style="background-image: url('{{ 'assets/images/crafto-landing-page-hero-section-bg.jpg' | theme }}');">
        <!-- <div class="opacity-extra-medium bg-dark-gray"></div> -->
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-xl-8 col-lg-10 mb-9 md-mb-15 position-relative z-index-1 text-center d-flex flex-wrap align-items-center justify-content-center"
                    data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span
                        class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-gradient-dark-gray-transparent d-inline-flex align-items-center text-start sm-lh-20"><i
                            class="bi bi-megaphone text-white d-inline-block align-middle icon-small me-10px"></i>
                        Grafis Laporan Bencana</span>
                    <!-- <h1 class="text-white fw-600 ls-minus-2px mb-50px">We make the creative solutions for business!
                    </h1> -->
                    <!-- <a href="#"
                        class="btn btn-extra-large btn-switch-text btn-gradient-purple-pink btn-rounded me-10px">
                        <span>
                            <span class="btn-double-text" data-text="Got a project in mind">Got a project in
                                mind</span>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
        <div class="shape-image-animation p-0 w-100 bottom-minus-40px xl-bottom-0px d-none d-md-block">
            <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200"
                fill="#ffffff">
                <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
                    <animate attributeName="d" dur="5s"
                        values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                            M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
                        repeatCount="indefinite" />
                </path>
            </svg>
        </div>
    </section>
    <!-- end section -->
    {% partial'site/_body_footer' %}

    {% partial'site/_body_gulir' %}

    {% partial'site/_body_js_script' %}

</body>

</html>